<!-- <div  class="container"> -->
    <div class="col">
      <!-- <h5>Buscar:</h5> -->
      <!-- <input type="text" class="form-control" placeholder="Buscar gifs..."> -->
      <app-busqueda></app-busqueda>
    </div>
<hr />   
<div class="row">
  <div class="col">
    <app-resultados></app-resultados>
<!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae consectetur alias suscipit maiores, veritatis aperiam molestias tenetur, dicta distinctio id eligendi quae! Laboriosam ab excepturi ratione assumenda pariatur, vel iure! -->
  </div>
</div>
  <!-- </div> -->
